.idea/
*.iml
kervan.iml
task.md

# İşletim Sistemi artıkları
.DS_Store
Thumbs.db

# Go modül cache'leri (deneme amaçlı oluşan)
.gomodcache-*/

# Go derleme çıktıları (genelde proje kökünde oluşuyorsa)
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
